<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
        <!-- quill -->
        <link
            href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
            rel="stylesheet" />
        <!-- quill -->
        <title></title>
        <script
            src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js">
        </script>
        <script>
            let A=[];
        </script>
    </head>
    <body>
        <div class="container">
            <form action="/ejs" method="post">
                <h2 align="center">Студент: <%=name%></h2>
                <input type="hidden" value="<%=name%>" name="name" />
                <h3 align="center">Билет № <%=ticket%></h3>
                <input type="hidden" value="<%=ticket%>" name="ticket" />
                <br/><hr/>
                <%= Q %>
                <% let question=0;
                Q.forEach( (el) => {%>
                <p><b>Вопрос <%= question+1 %></b>: <%=Q[question]%></p>
                <div id="A<%=question%>"></div>
                <script>
                        // const qel<%=question%>=
                        A.push(new Quill('#A<%=question%>', {
                            theme: 'snow',
                        }));
                    </script>
                <%question++; })%>
                <input type="submit" class="form-control btn btn-primary"/>
            </form>
        </div>
        <!-- quill -->

        <script>
            const form = document.querySelector('form');
            let i=0;
        
        form.addEventListener('formdata', (event) => {
           <% let iq=0; 
           Q.forEach((el)=>{ %>
            event.formData.append('A', JSON.stringify(A[<%=iq%>].getContents().ops));
            <% iq++;    }); %>
        });

        </script>
        <!-- quill -->
    </body>
</html>