<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
        <!-- quill -->
        <link
            href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
            rel="stylesheet" />
        <!-- quill -->
        <title></title>
        <script
            src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js">
        </script>
        <script>
            let A=[];
        </script>
    </head>
    <body>
        <div class="container">
            <b>Студент</b>: <%=name%><br/>
            <b>Билет</b>: <%=ticket%></br/>
            <form action="/ejs" method="post">
                <input  type="hidden" name="name" value="<%=name%>"/>
                <input type="hidden" name="ticket" value="<%=ticket%>"/>
                <ul>
                    <% let question=0; Q.forEach(el => {%> 
                        <li><%= el %></li>
                        <div id="A<%=question%>"></div>
                        <script>
                            A.push(new Quill('#A<%=question%>', {
                                theme: 'snow',
                            }));
                        </script>
                    <% question++; })%>
                </ul>
                <button class="btn-primary submit">Отправить</button>
            </form>
         </div>
         <script>
            const form = document.querySelector('form');
            let i=0;
            
            form.addEventListener('formdata', (event) => {
                <% let iq=0; 
                Q.forEach((el)=>{ %>
                    event.formData.append('A', JSON.stringify(A[<%=iq%>].getContents().ops));
                    <% iq++;}); %>
            });
         </script>
    </body>
</html>